<div class="content">
    <div class="content-body">
        <h2><span class="font-header-highlight">Plan B:</span> visit <a href="http://transportnsw.info" target="_blank" title="transportnsw.info">transportnsw.info</a> or call <a href="tel:131500" title="Call: 131 500">131&nbsp;500</a> TTY&nbsp; <a href="tel:1800637500" title="Call:1800637500">1800&nbsp;637&nbsp;500</a></h2>
        <p>Ferries and Buses and Trains. Search the available Public Transport options to get you where you need to go.</p>
        <h4>Planning ahead?</h4>
        <p>Download these apps or try Google Maps to plan your trip.</p>

        <ul class="l-list-clean content-apps-list">
            {{#each planb.collection}}
                <li>
                    <img class="content-apps-image" src="{{this.image}}" alt="{{this.alt}}" width="60" height="60"/>
                    <h4>{{this.text}}</h4>
                    <ul class="l-list-clean">
                        {{#each this.apps}}
                            <li><a class="content-apps-link" href="{{this.url}}" title="{{this.title}}">{{this.text}}</a></li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </div>
    <!-- // .content-body -->

    <div class="content-footer clearfix">
        <div class="l-push-left-md">
            <h3 class="font-header-simple">Don't have the app?</h3>
            <p>Use our mobile site m.transportnsw.info</p>
        </div>
        <a class="button l-push-right-md" href="http://transportnsw.info" title="Use the transportnsw.info site" onclick="recordOutboundLink(this, 'Outbound Links', 'http://131500.com.au/');return false;">Transport nsw info</a>
    </div>
    <!-- // .content-footer -->
</div>
<!-- //.content -->
